/* css styles
titles: Arial, Helvetica, sans-serif;
subtitles/script: 'Courier New', Courier, monospace;
background: #DFDEDA
body color: #211F20
accent 1: #D33D3F
accent 2: #568BB4
white: #FFFFFF */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {height: 100%;}

body {
    background-color: #DFDEDA;
    color: #211F20;
    height: 100%;
}

.secret {background-color: white;}

.container {margin: 4.5em 2em 0 2em;}

.container-alt {margin: 4.5em 3em 0 3em;}

/* top div */
.container-secret {
    padding: 4.5em 3em 3em 3em;
    background-color: #DFDEDA;
    height: 60vh;
}

/* bottom div (underneath top div) */
.container-script {
    position: absolute;
    top: 20em;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    padding: 0 3em;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.container-script > h3, 
.secret-header-name {
    font-size: 1em;
    text-transform: uppercase;
}

.container-script > p,
.secret-dialogue > p {margin-bottom: 1em;}

.secret-dialogue {
    margin: 0 auto;
    max-width: 75%;
}

.secret-header-name,
.secret-header-action {
    font-size: 1em;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    line-height: 105%;
    margin: 0 auto 0.5em auto;
    text-transform: uppercase;
    max-width: 80%;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    line-height: 120%;
    margin: 0 auto 2em auto;
    max-width: 80%;
}

.home-content {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 135%;
    padding: 2.5em 0 1em 0;
    border-top: 1px solid #211F20;
    max-width: 80%;
}

.seahaven-content {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 135%;
    padding: 2.5em 0;
    border-top: 1px solid #211F20;
    max-width: 80%;
}

.seahaven-scene-content {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 135%;
    padding: 1.8em;
    border-left: 1px solid #211F20;
    border-right: 1px solid #211F20;
    max-width: 90%;
}

.seahaven-scene-people {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.seahaven-scene-people > div {display: none;}

.seahaven-content > p,
.seahaven-scene-content > p {margin-bottom: 0.5em;}

.alert {
    cursor: pointer;
    color: #256fa8; 
}

.pull-quote {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    line-height: 135%;
    padding: 2em 2em 3em 2em;
}

.tv-content {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    line-height: 135%;
    padding: 2em 2em 1em 2em;
    margin-bottom: 3em;
    border: 1px solid #211F20;
    max-width: 80%;
}

.tv-content > p,
.traveling-content > p {margin-bottom: 1em;}

.traveling-content {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 135%;
    padding: 2.5em 0;
    border-top: 1px solid #211F20;
    max-width: 80%;
}

.traveling-content-list {
    line-height: 160%;
    padding-left: 1em;
    margin: 1em 0;
}

.traveling-content-water {
    padding-top: 100vh;
    padding-bottom: 20em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0) 100%);
}

.traveling-content-water > h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding-bottom: 100vh;
}

.water-1 {font-size: 1em;}

.water-2 {font-size: 1.3em;}

.water-3 {font-size: 1.6em;}

.water-4 {font-size: 2em;}

.water-5 {font-size: 2.3em;}

.water-6 {font-size: 2.6em;}

.gradient-1 {color: #211F20;}

.gradient-2 {color: #2c2a2b;}

.gradient-3 {color: #383636;}

.gradient-4 {color: #484646;}

.gradient-5 {color: #585656;}

.gradient-6 {color: #6c6a69;}

.gradient-7 {color: #817f7e;}

.gradient-8 {color: #8e8c8a;}

.gradient-9 {color: #a2a19e;}

.gradient-10 {color: #acaba8;}

.gradient-11 {color: #b9b8b5;}

.gradient-12 {color: #c4c3c0;}

.gradient-13 {color: #cdccc9;}

.gradient-14 {color: #d4c8c7;}

.gradient-15 {color: #b8aaa9;}

.gradient-16 {color: #a0807f;}

.gradient-17 {color: #af7b7a;}

.gradient-18 {color: #c76c6c;}

.gradient-19 {color: #d55555;}

.gradient-20 {color: #d4494a;}

.gradient-21 {color: #d33d3f;}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.link-place {color: #D33D3F;}

.home-content > div {margin-bottom: 2em;}

#secret-link {
    font-weight: normal;
    color: inherit;
    text-decoration: none;
    cursor: auto;
    letter-spacing: 0.7px;
}

@keyframes monotext {
    0% {font-family: Arial, Helvetica, sans-serif;}
    100% {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}

#secret-link:hover {
    animation: monotext 0.5s linear 1;
}

/* #hidden {
    display: none;
} */

#ticker {
    position: sticky;
    padding: 0.5em 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #211F20;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes scrolling {
    0% {transform: translateX(100vw);}
    100% {transform: translateX(-100vw);}
}

.ticker-text {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: italic;
    animation: scrolling 10s linear infinite;
}

.ticker-text-alt {
    display: none;
}

.pause {animation-play-state: paused;}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .secret-dialogue {max-width: 70%;}
    
    h1 {
        font-size: 3em;
    }
    h2 {
        margin: 0 auto 2em auto;
        max-width: 60%;
    }

    .pause {animation-play-state: paused;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-script {
        margin: 0 auto;
        max-width: 75%;
    }

    .secret-dialogue {max-width: 65%;}
    
    h1 {
        font-size: 4.5em;
    }

    .home-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content-1 content-2"
            "content-3 content-4";
        grid-gap: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        padding: 2.5em 0 4em 0;
        max-width: 75%;
        margin: 0 auto;
        border-top: 1px solid #211F20;
    }
    .home-content > div {margin-bottom: 0;}
    
    .home-content-1 {grid-area: content-1;}
    
    .home-content-2 {grid-area: content-2;}
    
    .home-content-3 {grid-area: content-3;}
    
    .home-content-4 {grid-area: content-4;}

    .seahaven-content,
    .traveling-content {padding: 3em 2.5em;}

    .seahaven-scene-content {padding: 3em 4.5em;}

    .traveling-content-water {gap: 3em;}

    .tv-content {
        min-width: 70%;
        max-width: 75%;
        padding: 3em 5em 2em 5em;
    }
    
    .ticker-text {animation: scrolling 15s linear infinite;}
    
    .pause {animation-play-state: paused;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-script {
        margin: 0 auto;
        min-width: 60%;
        max-width: 65%;
    }

    .secret-dialogue {max-width: 60%;}

    h1 {
        font-size: 5em;
        min-width: none;
        max-width: 50%;
    }
    h2 {
        font-size: 1.2em;
        margin: 0 auto 2.5em auto;
        max-width: 50%;
    }
    .home-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content-1 content-2"
            "content-3 content-4";
        grid-gap: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        padding: 3em 0 4em 0;
        max-width: 70%;
        margin: 0 auto;
        border-top: 1px solid #211F20;
    }
    .home-content > div {margin-bottom: 0;}

    .home-content-1 {grid-area: content-1;}

    .home-content-2 {grid-area: content-2;}

    .home-content-3 {grid-area: content-3;}

    .home-content-4 {grid-area: content-4;}

    .seahaven-content,
    .traveling-content {
        max-width: 60%;
        padding: 3em 4em;
    }

    .pull-quote {
        padding: 2em 6em 3em 6em;
    }

    .seahaven-scene-content {
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        line-height: 135%;
        padding: 3em 4em;
        border-left: 1px solid #211F20;
        border-right: 1px solid #211F20;
        max-width: 60%;
    }

    .seahaven-scene-people {
        padding-top: 2.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
            "content-1 none"
            "none content-2"
            "content-3 none"
            "none conent-4"
            "content-5 none"
            "none content-6"
            "content-7 none"
            "none content-8";
        gap: 1em;
    }

    .seahaven-scene-people > div {
        display: block;
    }

    .traveling-content-water > h3 {font-size: 1.2em;}

    .traveling-content-water {gap: 3.5em;}

    .tv-content {
        min-width: 55%;
        max-width: 60%;
        padding: 4em 10em 3em 10em;
    }

    .pause {animation-play-state: paused;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .seahaven-scene-people {gap: 2em;}

    .container-script {
        margin: 0 auto;
        min-width: 50%;
        max-width: 60%;
    }

    .secret-dialogue {max-width: 45%;}

}