@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-ExtraLight.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Light.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-LightItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Regular.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Italic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Medium.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-MediumItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-SemiBold.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Bold.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-BoldItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-Rg.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-RgIt.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-RgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-Bd.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-BdIt.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT Pressura', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: black;
    background-color: #f0f0f0;
}
main {
    margin: 2em auto;
    width: 80vw;
    height: 100vh;
}
h1 {
    font-family: 'Cambon', 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: #000080;
    line-height: 120%;
    padding-bottom: 0.1em;
}
h2 {
    font-family: 'Cambon', 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    color: #000080;
    line-height: 120%;
    padding-bottom: 0.1em;
}
b {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: 600;
}
a {
    color: #8C8C8C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.chair-images {
    width: 100%;
    height: auto;
}

#header {
    display: flex;
    flex-direction: column;
}
#back-link {
    margin-top: 1em;
}
#subhead {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    width: 100%;
    height: auto;
}
#subhead p {
    height: auto;
    width: 35%;
    text-align: right;
}
#images {
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    object-fit: cover;
}
#images > * {
    margin: auto 0;
}

/* media queries ////////////////////////////////////// */

@media only screen and (min-width: 769px) {
    #subhead p {
        width: 20%;
    }
    #images {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1205px) {
    main {
        margin: 3em auto;
        width: 80vw;
        height: 100vh;
    }
    #subhead p {
        width: 13%;
    }
    #images {
        grid-template-columns: repeat(4, 1fr);
    }
}