@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-ExtraLight.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Light.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-LightItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Regular.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Italic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Medium.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-MediumItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-SemiBold.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-Bold.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambon';
    src: url('/fonts/Cambon/Cambon-BoldItalic.woff2') format('woff2'),
        url('/fonts/Cambon/Cambon-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-Rg.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-RgIt.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-RgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-Bd.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura/GTPressuraTrial-BdIt.woff2') format('woff2'),
        url('/fonts/GTPressura/GTPressuraTrial-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT Pressura', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: black;
    background-color: #f0f0f0;
}
main {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 80vw;
    height: 100vh;
}
h1 {
    font-family: 'Cambon', 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: #000080;
    line-height: 120%;
    padding-bottom: 0.1em;
    width: 60%;
}
b {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: 600;
}
button {
    cursor: pointer;
    padding: 0.3em 1em;
    margin: 0.25em 0 0.25em 0;
}
button:hover, #saveButton:hover {
    background-color: #8C8C8C;
}
a {
    color: #8C8C8C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* custom range slider + js */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    cursor: pointer;
    border: solid 1px black;
    overflow: visible;
    background: white;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 7px;
    background-color: black;
}

/* custom checkbox */
.checkbox-control {
    display: flex;
    gap: 1em;
}
.checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid currentColor;
    border-radius: 0;
    cursor: pointer;
}

.link {
    margin-top: 1em;
}

#savedAlert {
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) translateY(140%);
    width: auto;
    height: auto;
    padding: 0.5em 1em;
    background-color: black;
    color: white;
    opacity: 1;
    transition: 0.3s;
}
#savedAlert > p {
    background-color: inherit;
    color: inherit;
}
#input-section {
    width: 100%;
    height: auto;
}
#canvas {
    width: 100%;
    height: auto;
}
#inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}
#colorPickerDiv {
    display: flex;
    gap: 3.9em;
    margin-bottom: 0.4em;
}
#colorPickerLabel {
    align-self: center;
}
#checkboxDiv {
    display: grid;
    grid-template-columns: 32% 68%;
    grid-template-rows: auto;
    width: 100%;
    max-width: 500px;
}
#checkboxDiv > * {
    margin: 0.4em 0;
}
#inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
#input-devices {
    display: none;
}
#settingsButton {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-bottom: 1em;
}
#settingsButton:hover {
    background-color: #464646;
    color: white;
}
#input-grid {
    width: 80%;
    max-width: 400px;
    display: none;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}
#input-grid > label {
    margin: 0.4em 0;
}
#explanation-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em
}
#explanation p {
    background-color: black;
    color: white;
    padding: 0.25em 1em;
}
#explanation p:first-child {
    padding-top: 1em;
}
#explanation p:last-child {
    padding-bottom: 1em;
}
#saveButton {
    background-color: #c5c5c5;
}
#control-explanation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#control-explanation-container {
    text-align: right;
    margin-bottom: 1vh;
    margin-left: auto;
}
#control-explanation-container p { 
    margin-top: 0.4em;
}

/* media queries ////////////////////////////////////// */

@media only screen and (min-width: 1025px) {
    * {
        overflow: hidden;
    }
    main {
        display: flex;
        flex-direction: row;
        height: 92vh;
    }
    h1 {
        width: 70%;
    }
    #input-section {
        display: flex;
        flex-direction: column;
        width: 35%;
        justify-content: center;
    }
    #input-container {
        height: 100%;
    }
    #view-settings {
        display: none;
    }
    #input-devices {
        display: block;
    }
    #canvas {
        padding-top: 4em;
        width: 65%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    #colorPickerDiv {
        gap: 1em;
        margin-bottom: 0.4em;
    }
    #checkboxDiv {
        grid-template-columns: 36% 64%;
    }
    #input-grid {
        display: grid;
        grid-template-columns: 45% 55%;
    }
    #explanation p:first-child {
        padding-top: 0.75em;
    }
    #explanation p:last-child {
        padding-bottom: 0.75em;
    }
    #control-explanation {
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
}