{% extends 'base.html' %}

{% block content %}

<div class="center-div">
    <div class="container-md" style="max-width: 70vw">
        <div class="card" style="margin: 1rem; padding: 2rem 4rem">
            <div class="card-body">
                <div class="row align-items-start gx-5">
                    <div class="col-6">
                        <img src="/static/images/pfp.jpg" class="img-fluid img-rotate" style="border-radius: 50%;" alt="A group photo of us at UNIQLO.">
                    </div>
                    <div class="col-6" style="align-self: flex-end;">
                        <hr style="margin-bottom: 2.3rem;">
                        <h1 class="display-4" style="font-weight: 600;">NYC 2023</h1>
                        <p style="margin-bottom: 0.25rem;">Digital pin up board for a trip with my friends.</p>
                        <p style="margin-bottom: 1.8rem;" class="text-secondary">Pictures taken from 3/6 &ndash; 3/10!</p>
                        <button type="button" class="btn btn-outline-primary btn-lg my-button">
                            <a href="{{ url_for('selfies') }}" 
                            style="display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            border: none;">
                                My Pictures 
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" class="my-svg" style="enable-background:new 0 0 700 700;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path class="st0" d="M553.4,129.6H146.6c-34.3,0-62.2,27.9-62.2,62.2c0,0,0,272.6,0,316.5s33.4,62.2,62.2,62.2h406.9
                                                c34.3,0,62.2-27.9,62.2-62.2V191.8C615.6,157.5,587.7,129.6,553.4,129.6L553.4,129.6z M237,237c25,0,45.2,20.2,45.2,45.2
                                                s-20.2,45.2-45.2,45.2s-45.2-20.2-45.2-45.2C191.8,257.2,212,237,237,237z M581.7,508.2c0,15.6-12.7,28.3-28.3,28.3H146.6
                                                c-15.6,0-28.3-12.7-28.3-28.3v-15.6l73.5-73.5l67.8,67.8L463,283.6l118.7,118.7L581.7,508.2z"/>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}