@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    transition: background-color 2s ease;
}

body {
    margin: 0;
    padding: 1em;
}

header {
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

a {color: inherit;}

/* ids */

#hide-books {
    user-select: none;
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border: 3px solid black;
    border-radius: 3em;
    box-shadow: 0.15rem 0.15rem black;
    font-size: 1rem;
}

#hide-books:active {
    background-color: white;
    box-shadow: 0 0 black;
    transform: translateY(2px);
  }

/* classes */

.hidden {
    display: none !important;
}
  
.shelf {
    border-bottom: 10px solid black;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2em;
}

.shelf .book-spine {
    background: black;
    color: white;

    height: fit-content;
    width: 30px;
    padding: 10px 0px;
    margin-bottom: 2px;
    margin-right: 2px;
    transform: rotate(180deg);

    writing-mode: vertical-lr;
    line-height: 30px;
    font-size: 16px;

    cursor: pointer;

}

.shelf .book-spine.active {
    background: red;
}

.shelf .book-spine:hover:not(.active) {
    background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-size: 1000% 1000%;

    animation: slideBackground 2s ease infinite;
}

@keyframes slideBackground {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

.book-detail {
    display: flex;
}

.book-detail .figure {
    width: 200px;
    flex: none;
    margin-right: 30px;
}

.book-detail .cover-image {
    width: 100%;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.book-detail .info {
    max-width: 600px;
}

.book-detail .title {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
}

.book-detail .description {
    margin: 0.5em 0;
    font-size: 36px;
    line-height: 1.5;
}

.info {
    border: 5px solid black;
    background-color: white;
    padding: 1.5em;
}

@media (max-width: 600px) {
    .book-detail {
        flex-direction: column;
    }
    .book-detail .figure {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2em;
    }
}
