@font-face {
    font-family: 'Arista 2.0';
    src: url('Arista20.woff2') format('woff2'),
        url('Arista20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

